<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<%= content_tag :h1, @notice.title %>
<%= link_to 'Изменить', edit_notice_path(@notice) if can?(:edit, Notice) %>

<div class="static-content">
  <%= raw @notice.body %>
</div>