// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.house-number {
  text-align: center;
}

.house-address, .house-info {
  padding-left: 10px;
}

.house-info {
  .scrollable-info {
    height: 100px;
    overflow: auto;
    line-height: 20px;
  }
}