<div class="notices">
  <h2>Новости и объявления <%= link_to '+', new_notice_path if can?(:create, Notice) %></h2>

  <% @notices.each do |notice| %>
      <div class="notice">
        <%= content_tag :h3, notice.title %>
        <%= content_tag :p, notice.body %>
      </div>
  <% end %>

  <div class="clear"></div>
</div>