<div class="new-request">
  <%= content_tag :h2, "Обращение к диспетчеру" %>
  <%= content_tag :h3, "Чтобы мы оперативно приняли решение по вашему обращению заполните все поля формы" %>
  <%= render "requests/welcome_form" %>
</div>